################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RuleBasedSystem/.vs/RuleBasedSystem/v16/Server/sqlite3
/.vs
